<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Lista </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Lista</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-list-header class="header-list">
      <b>GIGA Sistemas</b>
    </ion-list-header>
    <div class="border-wrapper">
      <i class="title-page">Conheça alguns dos nossos usuários</i>
    </div>
    <div class="wrapper-user-detail" *ngIf="selectedItem">
      <div class="image-div-detail">
        <img
          class="image-detail"
          alt="Silhouette of a person's head"
          src="{{ selectedItem.picture.large }}"
        />
      </div>
      <div class="descriprion-user-detail">
        <p>Nome:<span>{{selectedItem.name.first}}</span></p>
        <p>Telefone:<span>{{selectedItem.phone}}</span></p>
        <p>Naturalidade:<span>{{selectedItem.nat}}</span></p>
        <p>Idade:<span>{{selectedItem.dob.age}}</span></p>
        <p>Genero:<span>{{selectedItem.gender}}</span></p>
      </div>
    </div>
  </div>
  <div class="flow-scroll">
    <ion-list id="labels-list">
      <app-item-list
        [itemUser]="users"
        (selectItem)="selectedItem = $event"
      ></app-item-list>
    </ion-list>
    <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
      <ion-infinite-scroll-content
        loadingSpinner="bubbles"
        loadingText="Aguarde..."
      >
      </ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </div>
</ion-content>
