<ion-item class="wrapper-item" *ngFor="let user of itemUser">
  <div class="button-users" (click)="onClickInChild(user)">
    <!-- <button class="button-users" [routerLink]="['/detail']"> -->
    <ion-avatar slot="start">
      <img
        class="image-users"
        alt="Silhouette of a person's head"
        src="{{ user.picture.large }}"
      />
    </ion-avatar>
    <ion-label class="label-users">
      <h2 class="name-users">
        {{ user.name.first + " " + user.name.last }}
      </h2>
      <p class="email-users">{{ user.email }}</p>
    </ion-label>
  </div>
</ion-item>
