<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="list">
      <ion-icon name="list-circle-outline" class="icon"></ion-icon>
      <ion-label>Lista</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="female">
      <ion-icon name="female-outline"></ion-icon>
      <ion-label>Feminino</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="male">
      <ion-icon name="male-outline"></ion-icon>
      <ion-label>Masculino</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
